<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Welcome to Carlos' webpage</h1>
        <p>Learn more about biofluid mechanics research, teaching, and other worldly escapes from the academic life</p>
      </header>
      <p>This month, we are highlighting the importance of making our research accessible by using <b>better image creation</b>. In these times, <a href="https://twitter.com/search?q=%23sciComm&src=typed_query" target="_blank">#sciCommunication</a>, is becoming more important, and I believe that making effective presentations begins with our own science communities first. Check out more of my take on <b><em><u>effective graphics</u></em></b></p>
      <ul class="actions">
        <li><a href="{{ 'teaching/prettypics.html' | absolute_url }}" class="button big">Pretty Pictures</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/pic10.jpg" alt="" />
    </span>
  </section>
