<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Welcome to Carlos' webpage</h1>
        <p>Learn more about biofluid mechanics research, teaching, and other worldly escapes from the academic life</p>
      </header>
      <!-- <p></p> -->
      <ul class="actions">
        <li><a href="{{ 'research/index.html' | absolute_url }}" class="button fit">Biofluids</a></li>
        <li><a href="{{ 'research/particles.html' | absolute_url }}" class="button fit">Particles and Cilia</a></li>
        <li><a href="{{ 'teaching/prettypics.html' | absolute_url }}" class="button fit">Pretty Pictures</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/diffusion.jpg" alt="" />
    </span>
  </section>
